body {
  background-color: #908fec;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

label {
  font-family: Arial, sans-serif;
  color: #3f3c3c;
  transform: scale(1.5);
  position: relative;
}

#container-2 {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px 60px 5px 60px;
  width: 400px;
  height: 500px;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
}

#container-2 button {
  width: 75%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #908fec;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 10px;
}

#encrypt-btn,
#copyToClipBoard {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #908fec;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 4px 12px;
  margin-top: 10px;
}

#shiftInput {
  transform: scale(1.5);
  outline: none;
  cursor: pointer;
  border: 1px solid #ccc;
}

#container-1 {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-family: "Fruktur", cursive;
}

#container-title,
#container-img {
  margin: 0;
  padding: 0;
  flex-shrink: 1;
}

#container-1 img {
  width: 60px;
  height: auto;
  border-radius: 10px;
}

/*#container-1,*/
#container-2 {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#caesar {
  width: 111px;
  border-radius: 0px 10px 10px 0px;
  position: relative;
  left: 62px;
}
